body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden; /* 가로 스크롤 방지 */
  background:  #f8c3a3;
}

.layout-container {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.side-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  background: #f8c3a3;
  justify-content: center;
  align-items: center;
}

.app-container {
  width: 90%;
  background-color: #ffe1cc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
